.tabset_tabs	{ 
margin:0; padding:0; 
list-style-type:none; 
position:relative; 
z-index:2; 
white-space:nowrap; 
}
.tabset_tabs li	{ 
margin:0; padding:0;
display: flex;
flex-direction:column; 
width: 150px;  
}
.tabset_tabs a	{ 
color:white;     
background-color: rgba(3, 2, 2, 0.6); 
text-decoration:none; 
padding:0 0.6em; border-left-width:0; 
border-bottom:none;
padding:10px 0 10px 15px; 
}
.tabset_tabs a:hover { 
color:gold; background-color: rgba(3, 2, 2, 0.4);
padding:10px 0 10px 15px;
}
.tabset_tabs a.active { 
color:black; background-color:white; 
border-left-width:1px; 
cursor:default; 
border-bottom:white; 
padding-top:1px; 
padding-bottom:1px; 
padding:10px 0 10px 20px; 
}
.tabset_tabs a.active:before {
     content: "➤ ";
 }
.tabset_tabs li.firstchild a { 
order-left-width:1px 
}
.tabset_content	{ 
background-color:none;
color:white; 
position:relative; 
z-index:1; 
padding:0.5em 1em; 
display:none;
}

.tabset_label { 
display:none;
}
.tabset_content_active	{
display:block;
width:1350px; 
}
@media aural{
.tabset_content,	
.tabset_label	{ display:block }
}
#pagecontent {
	display: flex;
	flex-direction: row;
}