button {
	cursor: pointer;
}
input {
	cursor: pointer;
}

.tabset_tabs	{ 
margin:0; padding:0; 
list-style-type:none; 
position:relative; 
z-index:2; 
white-space:nowrap; 
}
.tabset_tabs li	{ 
margin:0; padding:0;
display: flex;
flex-direction:column; 
width: 150px;  
}
.tabset_tabs a	{ 
color:white;     
background-color: rgba(3, 2, 2, 0.6); 
text-decoration:none; 
padding:0 0.6em; border-left-width:0; 
border-bottom:none;
padding:15px 0 15px 15px; 
}
.tabset_tabs a:hover { 
color:gold; background-color: rgba(3, 2, 2, 0.4);
padding:15px 0 15px 15px;
 -webkit-transition: .5s ease;
	transition: .5s ease;
}
.tabset_tabs a.active { 
color:black; background-color:white; 
border-left-width:1px; 
cursor:default; 
border-bottom:white; 
padding-top:1px; 
padding-bottom:1px; 
padding:15px 0 15px 20px; 
}
.tabset_tabs a.active:before {
     content: "➤ ";
 }
.tabset_tabs li.firstchild a { 
border-left-width:1px 
}
.tabset_content	{ 
background-color:none;
color:white; 
position:relative; 
z-index:1; 
padding:0.5em 1em; 
display:none;
}

.tabset_label { 
display:none;
}
.tabset_content_active	{
display:block;
width:1350px; 
}
@media aural{
.tabset_content,	
.tabset_label	{ display:block }
}
#pagecontent {
	display: flex;
	flex-direction: row;
}

.photo_of_manager {
	display: flex;
	flex-direction: row;
}
.photo_of_manager img {
	object-fit: cover;
}
.photo_of_manager form {
	height: cover;	
	background: transparent;
	margin-left: 4px;
	font-family: "Century Gothic";
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	color: white;
}
.photo_of_manager input {
	margin-bottom: 5px;
}
.contact_info table {
	width: 500px;
	font-family: "Century Gothic";
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	color: white;	
	margin-top: 4px;
}
.contact_info table tr {
	border:5px solid transparent;
}
.contact_info  table td {
	width: 73px;
}
.social table td {
	width: 73px;
}
.social table {
	width: 500px;
	font-family: "Century Gothic";
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	color: white;	
	margin-top: 4px;
}
.social table tr {
	border:5px solid transparent;
}
